 *{
   margin: 0%;
   padding: 0%;
 }
 body{
  background-color: #61122f;
  font-size: 16px;
  color: #fff;
}
.navbar{
 background-color:#f6b319;
 border-radius: 0;
 border: 0;
 border: 100%;
 
}
heading{
  display: inline-block;
}